<div class="container pt-2">
    <div class="current work">
        <h3>Centroxy Solutions Pvt Ltd</h3>
        <p>Assistant Software Engineer</p>
        <h6>June 2021 - Present</h6>
        <p class="description">Currently working with clients synchronously on multiple platforms(kibo, angular and python) along with providing insights to fellow teammates regarding different concepts.</p>
    </div>

    <div class="prev work">
        <h3>Centroxy Solutions Pvt Ltd</h3>
        <p>Software Trainee</p>
        <h6>Aug 2020 - June 2021</h6>
        <p class="description">Worked and learned hands on experience on both frontend (Angular 9+, Ionic) and backend (Flask - python3) along with database technologies like MySQL and Postgresql. Also providing a healthy contribution to the efforts of our team.</p>
    </div>

    <div class="int work">
        <h3>Appstone Pvt Ltd</h3>
        <p>Data science Intern</p>
        <h6>Jan 2020 - April 2020</h6>
        <p class="description">Learned hands-on experience on Data science basics using Python 3.</p>
    </div>
</div>