<div class="container">

  <div class="text-center">
    <img class="animate__animated animate__zoomIn" src="./assets/images/profile2.jpg" alt="Soubhagya" id="profile-picture">
  </div>
  
  <div class="intro mt-2">
    <h5>Hello! I'm</h5>
    <h2>Soubhagya Sahoo</h2>
    <h6>Full Stack Developer</h6>
  </div>
  
  <div class="intro-line mt-5">
    <p> Detail oriented full stack developer with 1+ years of experience in application layers, presentation layers, and
      databases. Experienced in both F/E and B/E technologies along with various DB technologies. </p>
  </div>
  
  <div class="whereabouts text-center">
    <div class="row">
      <div class="col-md-3 col-lg-4">
        <p (click)="openMaps()" style="cursor: pointer;"><i class='bx bxs-map-pin'></i>&nbsp;Bhubaneswar</p>     
      </div>
      <div class="col-md-3 col-lg-4">
        <p (click)="whatsapp_text()" style="cursor: pointer;"><i class='bx bxl-whatsapp'></i>&nbsp;+91 9090031330</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p (click)="mail()" style="cursor: pointer;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;soubhagyasahoo065</p>
      </div>
    </div> 
  </div>
  
  <div class="text-center social">
    <button class="btn btn-secondary social-icon">
      <i class="fa fa-github" aria-hidden="true"></i>
    </button>
    <button class="btn btn-secondary social-icon">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </button>
    <button class="btn btn-secondary social-icon">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </button>
    <button class="btn btn-secondary social-icon">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </button>
  </div>

  <div class="text-center">
    <p class="bottom-para">Made with <i class='bx bxs-heart' style="color: rgb(197, 0, 0);"></i> using Angular&nbsp;<i class='bx bxl-angular' id="angular-logo"></i></p>
  </div>
  
</div>
