<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-bot icon'></i>
    <div class="logo_name">Portfolio</div>
    <i class='bx bx-menu' id="btn" (click)="toggle()"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/profile">
        <i class='bx bx-user'></i>
        <span class="links_name">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li>
      <a routerLink="/experience">
        <i class='bx bx-desktop'></i>
        <span class="links_name">Experience</span>
      </a>
      <span class="tooltip">Experience</span>
    </li>
    <li>
      <a routerLink="/skills">
        <i class='bx bx-code-alt'></i>
        <span class="links_name">Skills</span>
      </a>
      <span class="tooltip">Skills</span>
    </li>
    <li>
      <a routerLink="/education">
        <i class='bx bxs-graduation'></i>
        <span class="links_name">Education</span>
      </a>
      <span class="tooltip">Education</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-extension'></i>
        <span class="links_name">Interests</span>
      </a>
      <span class="tooltip">Interests</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <!-- <img src="./assets/images/profile.jpg" alt="profileImg"> -->
        <div class="name_job">
          <div class="name">Soubhagya Sahoo</div> 
          <div class="job">Full Stack Developer</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out"></i>
    </li>
  </ul>
</div>
<section class="home-section">
  <router-outlet></router-outlet>
</section>

